<!DOCTYPE html>
<html>
<head>
    <title>Главная страница Упакторг</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/reset.css">

    <!--  <link rel="stylesheet/less" type="text/css" href="css/style.less">
     <script type="text/javascript" src ="js/less.js"></script>-->
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="js/pod.js"></script>
</head>
<body>
<div id="bg_page">
    <div id="top_line"></div>
    <div id="wrapper">
        <div id="header">

            <div class="head">
                <div class="logo_head"></div>
                <div class="text_head">БАЗА УПАКОВОЧНЫХ МАТЕРИАЛОВ</div>
            </div>



            <div class="menu">
                <ul>
                    <li class="first"><a href="#"><img src="images/menu_pic_home.png"><span>Главная</span></a></li>
                    <li><a href="#"><img src="images/menu_pic_cup.png">О компании</a></li>
                    <li><a href="#"><img src="images/menu_pic_part.png">Партнеры</a></li>
                    <li><a href="#"><img src="images/menu_pic_cont.png">Доставка</a></li>
                    <li><a href="#"><img src="images/menu_pic_dos.png">Контакты</a></li>
                </ul>
                <div class = "rline_menu">

                    <div>Вход</div>
                    <img src="images/close.png">
                </div>

            </div>



            <div class="head_line"></div>
        </div>
        <div class="clear"></div>


        <div id="content">

            <div class="sidebar-left">



                <div class="category">
                    <h3 class="head_cat">КАТЕГОРИИ</h3>

                    <ul>
                        <li class="cat_list"><a href="#">Одноразовая посуда</a></li>

                        <li class="cat_list"><span href="#">Ведра <img src="images/cat_plus.png"></span>
                            <ul class="pod_vedro">
                                <li>Хоботня 1</li>
                                <li>Хоботня 1</li>
                                <li>Хоботня 1</li>
                            </ul>

                        </li>
                        <li class="cat_list"><a href="#">Вилки, ложки, канапе..</a></li>
                        <li class="cat_list"><a href="#">Бумажная посуда</a></li>
                        <li class="cat_list"><a href="#">Контейнеры</a></li>
                        <li class="cat_list"><a href="#">Салатники</a></li>
                        <li class="cat_list"><a href="#">Лотки</a></li>
                        <li class="cat_list"><a href="#">Соусницы</a></li>
                        <li class="cat_list"><a href="#">Набор одно. посуды</a></li>
                        <li class="cat_list"><a href="#">Стопки</a></li>
                        <li class="cat_list"><a href="#">Скотч</a></li>
                        <li class="cat_list"><a href="#">Хоз товары</a></li>
                        <li class="cat_list"><a href="#">Стаканы, чашки, кружки</a></li>
                        <li class="cat_list"><a href="#">Крышки для стаканов</a></li>
                        <li class="cat_list"><a href="#">Тарелки</a></li>
                        <li class="cat_list"><a href="#">Тортницы</a></li>
                        <li class="cat_list cat_end"><a href="#">Формации</a></li>

                    </ul>

                </div>




               <!-- <div class="price">
                    <h3>ПРАЙС</h3>
                    <p>Тут у нас будет какой то текст</p>
                    <p>Скачать</p>
                    <p>Дата обновления</p>
                </div>  -->

            </div>


            <!--     Правый сайдбар  -->
            <div class="sidebar-right">

                <!--     Новости  -->
                 <div class="news">
                  <h3 class="news_head">НОВОСТИ</h3>


                   <div class="news_li">
                       <h4 class="news_h">02.02.2012 Хорошая новость</h4>
                       <p class="news_text">У компании Упакторг заработал сайт</p>
                       <img src="images/cat_line.png" class="news_wrap">
                   </div>

                    <div class="news_li">
                        <h4 class="news_h">02.02.2012 Хорошая новость</h4>
                        <p class="news_text">У компании Упакторг заработал сайт</p>
                        <img src="images/cat_line.png" class="news_wrap">
                    </div>

                    <div class="news_li">
                         <h4 class="news_h">02.02.2012 Хорошая новость</h4>
                         <p class="news_text">У компании Упакторг заработал сайт</p>
                    <!--     <img src="images/cat_line.png" class="news_wrap">  -->
                    </div>

               </div>

            <!--     Окончание новостей  -->

            <!--     Телефоны  -->

            <div class="tels">
                <h3 class="tels_head">НАШИ ТЕЛЕФОНЫ</h3>

                <div class="block_tel">
                    <p class="num_tel"><span class="littel">+7(3955)</span><span class="bigtel"> 506-605</span></p>
                    <p class="adr_tel">г. Иркутск, ул. Швецова 10</p>
                </div>
                <div class="block_tel">
                     <p class="num_tel"><span class="littel">+7(3955)</span><span class="bigtel"> 506-605</span></p>
                     <p class="adr_tel">г. Иркутск, ул. Швецова 10</p>
                </div>
                <div class="block_tel">
                     <p class="num_tel"><span class="littel">+7(3955)</span><span class="bigtel"> 506-605</span></p>
                     <p class="adr_tel">г. Иркутск, ул. Швецова 10</p>
                </div>




            </div>
        </div>



             <div class="content_center">

                 <!--     Новые товары  -->
                 <div class="new">
                     <!--     Товар  -->
                       <h2 >Новинки</h2>
                       <div class="tov nobord">
                           <div class="tov_ph">
                               <div class="lupa"></div>
                           </div>
                             <div class="desc">
                               <h5 class="tov_caption">Ведро прямоугольное 3,3 литра</h5>
                               <p class="tov_desc">Верхний диаметр: 250*158</p>
                               <p class="tov_desc">Нижний диаметр: 151</p>
                               <p class="tov_desc">Высота: 128</p>
                             </div>

                           <div class="korz">
                               <p class="tov_price"><span>1100,50</span> руб.</p>
                               <a><img src="images/korz.png"></a>
                           </div>
                       </div>
                     <!--     Окончание товара  -->


                       <div class="tov">
                         <div class="tov_ph">
                           <div class="lupa"></div>
                         </div>
                         <div class="desc">
                           <h5 class="tov_caption">Ведро прямоугольное 3,3 литра</h5>
                           <p class="tov_desc">Верхний диаметр: 250*158</p>
                           <p class="tov_desc">Нижний диаметр: 151</p>
                           <p class="tov_desc">Высота: 128</p>
                         </div>

                         <div class="korz">
                           <p class="tov_price"><span>1100,50</span> руб.</p>
                           <a><img src="images/korz.png"></a>
                         </div>
                       </div>



                       <div class="tov">
                         <div class="tov_ph">
                           <div class="lupa"></div>
                         </div>
                         <div class="desc">
                           <h5 class="tov_caption">Ведро прямоугольное 3,3 литра</h5>
                           <p class="tov_desc">Верхний диаметр: 250*158</p>
                           <p class="tov_desc">Нижний диаметр: 151</p>
                           <p class="tov_desc">Высота: 128</p>
                         </div>

                         <div class="korz">
                           <p class="tov_price"><span>1100,50</span> руб.</p>
                           <a><img src="images/korz.png"></a>
                         </div>
                       </div>



                       <div class="tov nobord">
                         <div class="tov_ph">
                           <div class="lupa"></div>
                         </div>
                         <div class="desc">
                           <h5 class="tov_caption">Ведро прямоугольное 3,3 литра</h5>
                           <p class="tov_desc">Верхний диаметр: 250*158</p>
                           <p class="tov_desc">Нижний диаметр: 151</p>
                           <p class="tov_desc">Высота: 128</p>
                         </div>

                         <div class="korz">
                           <p class="tov_price"><span>1100,50</span> руб.</p>
                           <a><img src="images/korz.png"></a>
                         </div>
                       </div>



                       <div class="tov">
                         <div class="tov_ph">
                           <div class="lupa"></div>
                         </div>
                         <div class="desc">
                           <h5 class="tov_caption">Ведро прямоугольное 3,3 литра</h5>
                           <p class="tov_desc">Верхний диаметр: 250*158</p>
                           <p class="tov_desc">Нижний диаметр: 151</p>
                           <p class="tov_desc">Высота: 128</p>
                         </div>

                         <div class="korz">
                           <p class="tov_price"><span>1100,50</span> руб.</p>
                           <a><img src="images/korz.png"></a>
                         </div>
                       </div>


                       <div class="tov">
                         <div class="tov_ph">
                           <div class="lupa"></div>
                         </div>
                         <div class="desc">
                           <h5 class="tov_caption">Ведро прямоугольное 3,3 литра</h5>
                           <p class="tov_desc">Верхний диаметр: 250*158</p>
                           <p class="tov_desc">Нижний диаметр: 151</p>
                           <p class="tov_desc">Высота: 128</p>
                        </div>

                        <div class="korz">
                          <p class="tov_price"><span>1100,50</span> руб.</p>
                          <a><img src="images/korz.png"></a>
                        </div>

                      </div>







                        <div class="clear"></div>

                 </div>
                 <div class="month">
                    <!--     Товар  -->
                                        <h2>Товары месяца</h2>
                     <div class="tov nobord">
                                                <div class="tov_ph">
                                                    <div class="lupa"></div>
                                                </div>
                                                  <div class="desc">
                                                    <h5 class="tov_caption">Ведро прямоугольное 3,3 литра</h5>
                                                    <p class="tov_desc">Верхний диаметр: 250*158</p>
                                                    <p class="tov_desc">Нижний диаметр: 151</p>
                                                    <p class="tov_desc">Высота: 128</p>
                                                  </div>

                                                <div class="korz">
                                                    <p class="tov_price"><span>1100,50</span> руб.</p>
                                                    <a><img src="images/korz.png"></a>
                                                </div>
                                            </div>
                                      <!--     Окончание товара  -->


                                             <div class="tov">
                                              <div class="tov_ph">
                                                <div class="lupa"></div>
                                              </div>
                                              <div class="desc">
                                                <h5 class="tov_caption">Ведро прямоугольное 3,3 литра</h5>
                                                <p class="tov_desc">Верхний диаметр: 250*158</p>
                                                <p class="tov_desc">Нижний диаметр: 151</p>
                                                <p class="tov_desc">Высота: 128</p>
                                              </div>

                                              <div class="korz">
                                                <p class="tov_price"><span>1100,50</span> руб.</p>
                                                <a><img src="images/korz.png"></a>
                                              </div>
                                            </div>



                                        <div class="tov">
                                          <div class="tov_ph">
                                            <div class="lupa"></div>
                                          </div>
                                          <div class="desc">
                                            <h5 class="tov_caption">Ведро прямоугольное 3,3 литра</h5>
                                            <p class="tov_desc">Верхний диаметр: 250*158</p>
                                            <p class="tov_desc">Нижний диаметр: 151</p>
                                            <p class="tov_desc">Высота: 128</p>
                                          </div>

                                          <div class="korz">
                                              <p class="tov_price"><span>1100,50</span> руб.</p>
                                            <a><img src="images/korz.png"></a>
                                          </div>
                                        </div>



                     <div class="tov nobord">
                                          <div class="tov_ph">
                                            <div class="lupa"></div>
                                          </div>
                                          <div class="desc">
                                            <h5 class="tov_caption">Ведро прямоугольное 3,3 литра</h5>
                                            <p class="tov_desc">Верхний диаметр: 250*158</p>
                                            <p class="tov_desc">Нижний диаметр: 151</p>
                                            <p class="tov_desc">Высота: 128</p>
                                          </div>

                                          <div class="korz">
                                              <p class="tov_price"><span>1100,50</span> руб.</p>
                                            <a><img src="images/korz.png"></a>
                                          </div>
                                        </div>



                                        <div class="tov">
                                          <div class="tov_ph">
                                            <div class="lupa"></div>
                                          </div>
                                          <div class="desc">
                                            <h5 class="tov_caption">Ведро прямоугольное 3,3 литра</h5>
                                            <p class="tov_desc">Верхний диаметр: 250*158</p>
                                            <p class="tov_desc">Нижний диаметр: 151</p>
                                            <p class="tov_desc">Высота: 128</p>
                                          </div>

                                          <div class="korz">
                                              <p class="tov_price"><span>1100,50</span> руб.</p>
                                            <a><img src="images/korz.png"></a>
                                          </div>
                                        </div>


                                        <div class="tov">
                                          <div class="tov_ph">
                                            <div class="lupa"></div>
                                          </div>
                                          <div class="desc">
                                            <h5 class="tov_caption">Ведро прямоугольное 3,3 литра</h5>
                                            <p class="tov_desc">Верхний диаметр: 250*158</p>
                                            <p class="tov_desc">Нижний диаметр: 151</p>
                                            <p class="tov_desc">Высота: 128</p>
                                         </div>

                                         <div class="korz">
                                             <p class="tov_price"><span>1100,50</span> руб.</p>
                                           <a><img src="images/korz.png"></a>
                                         </div>

                                       </div>







                                         <div class="clear"></div>

                                  </div>


            </div>
            <div class="clear"></div>
            <div class="empty"><!-- --></div>
        </div>

        <div class="footer">
            <div class="foot_cont">
                <div class="footer_nav">
                 <ul>
                     <li class="list_first">Главная</li>
                     <li>О компании</li>
                     <li>Партнеры</li>
                     <li>Доставка</li>
                     <li>Контакты</li>

                 </ul>

                </div>
                <div class="footer_link"><img src="images/f_st.png"><a href="#"> Наверх</a></div>
                <div class="clear"></div>
                <div class="footer_right">&reg; 2012. All Rights Reserved</div>
            </div>

        </div>


    </div>

</div>



</body>
</html>



